*.pyc
*~
*.so
*.pyd
.pytest_cache/
build/
dist/
.*.swp
.coverage
.cache
doc/_build
doc/api/generated
doc/gallery
doc/sample_data
doc/sg_execution_times.rst
.ipynb_checkpoints
*.egg-info
MANIFEST
dask-worker-space
.coverage.*
harmonica/_version.py
