*.pyc
*~
*.so
*.pyd
.pytest_cache/
build/
dist/
.*.swp
.coverage
.cache
doc/_build
doc/api/generated
doc/gallery
doc/sample_data
.ipynb_checkpoints
*.egg-info
MANIFEST
dask-worker-space
.coverage.*
harmonica/_version_generated.py
harmonica/tests/test_forward_utils.py
harmonica/tests/test_point_gravity.py
harmonica/tests/test_tesseroid.py
harmonica/tests/test_tesseroid_variable_density.py
harmonica/tests/test_forward_utils.py
harmonica/tests/test_point_gravity.py
harmonica/tests/test_tesseroid.py
harmonica/tests/test_tesseroid_variable_density.py
