name: harmonica
channels:
    - conda-forge
    - defaults
dependencies:
    - python=3.7
    - pip
    - numpy
    - scipy
    - pandas
    - numba
    - pooch>=0.7.0
    - verde>=1.5.0
    - xarray
    # Development requirements
    - boule
    - pyproj
    - matplotlib
    - cartopy
    - pytest
    - pytest-cov
    - coverage
    - black>=20.8b1
    - pylint
    - flake8
    - sphinx=2.2.1
    - sphinx_rtd_theme=0.4.3
    - sphinx-gallery
    - numpydoc
