name: harmonica
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.7
  - pip
  - setuptools_scm
  - numpy
  - scipy
  - pandas
  - numba
  - pooch>=0.7.0
  - verde>=1.5.0
  - xarray
  # Development requirements
  - boule
  - pyproj
  - matplotlib
  - cartopy>=0.18
  - pytest
  - pytest-cov
  - coverage
  - black>=20.8b1
  - pylint
  - flake8
  - sphinx
  - sphinx_rtd_theme=0.4.3
  - sphinx-gallery
  - numpydoc
