name: harmonica
channels:
    - conda-forge
    - defaults
dependencies:
    - python=3.7
    - pip
    - numpy
    - scipy
    - pandas
    - numba
    - pooch
    - verde
    - attrs
    - xarray
    # Development requirements
    - pyproj
    - matplotlib
    - cartopy
    - pytest
    - pytest-cov
    - coverage
    - black
    - pylint=2.2.2
    - flake8
    - sphinx
    - sphinx_rtd_theme
    - sphinx-gallery
    - numpydoc
