name: harmonica
channels:
  - conda-forge
dependencies:
  - python==3.10.*
  - pip
  # Build
  - build
  - twine
  # Run-time
  - numpy
  - pandas
  - numba
  - scipy
  - scikit-learn
  - verde>=1.7.0
  - xarray
  - xrft>=1.0
  - choclo>=0.1
  # Optional requirements
  - pyvista
  - vtk
  - numba-progress
  # Testing requirements
  - pytest
  - pytest-cov
  - coverage
  - boule
  # Documentation requirements
  - sphinx==4.5.*
  - sphinx-book-theme==0.2.*
  - sphinx-gallery==0.10.*
  - sphinx-design==0.2.*
  - sphinx-copybutton==0.5.*
  - jupyter-sphinx==0.4.*
  - ipykernel
  - pyproj
  - matplotlib
  - ensaio>=0.5.0
  - netcdf4
  - pygmt
  - gmt
  - gdal
  - trame # needed by pyvista
  # Code style checks and autoformat
  - black==22.10.*
  - isort==5.10.*
  - flake8==6.0.*
  - flake8-bugbear==22.10.*
  - flake8-builtins==2.0.*
  - flake8-functions==0.0.7
  - flake8-mutable==1.2.*
  - flake8-rst-docstrings==0.3.*
  - flake8-simplify==0.19.*
  - flake8-unused-arguments==0.0.12
  - pep8-naming==0.13.*
