name: harmonica
channels:
  - conda-forge
  - defaults
dependencies:
  - python==3.8
  - pip
  - setuptools_scm
  - numpy
  - pandas
  - numba
  - scipy
  - scikit-learn
  - pooch>=0.7.0
  - verde>=1.5.0
  - xarray
  - xrft
  # Development requirements
  - boule
  - pyproj
  - matplotlib
  - cartopy>=0.18
  - pytest
  - pytest-cov
  - coverage
  - sphinx==3.5.*
  - sphinx-book-theme==0.0.41
  - sphinx-gallery==0.8.*
  # Code style checks and autoformat
  - black==21.12b0
  - isort==5.10.*
  - flake8==4.0.*
  - flake8-bugbear==21.11.*
  - flake8-builtins==1.5.*
  - flake8-functions==0.0.6
  - flake8-mutable==1.2.*
  - flake8-rst-docstrings==0.2.*
  - flake8-simplify==0.14.*
  - pep8-naming==0.12.*
  - pip:
      # Install flake8-unused-arguments through pip
      # (not available through conda yet)
      - flake8-unused-arguments==0.0.9
