# Exclude these files from source distributions.
# setuptools_scm includes everything else by default.
prune .github
prune doc
prune env
prune tests
exclude .*.yml
exclude .*rc
exclude .gitignore
exclude environment.yml
exclude Makefile
exclude CONTRIBUTING.md
exclude CODE_OF_CONDUCT.md
