include README.rst
include LICENSE.txt
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include MAINTENANCE.md
include AUTHORS.md
include versioneer.py
recursive-include harmonica/tests/data *
recursive-include harmonica/tests/baseline *
