# Documentation building requirements
sphinx==7.2.*
numpydoc==1.7.*
sphinx-book-theme==1.1.*
sphinx-gallery==0.15.*
sphinx-design==0.5.*
sphinx-copybutton==0.5.*
jupyter-sphinx==0.5.*
ipykernel
boule
pyproj
ensaio>=0.5.*
netcdf4
matplotlib
pyvista
vtk=9.3.1=qt_py312h71fb23e_214
vtk-base=9.3.1=qt_py312h04237f5_214
vtk-io-ffmpeg=9.3.1=qt_py312h71fb23e_214
pygmt
gmt
gdal
ipykernel
trame
