# Documentation building requirements
sphinx==4.5.*
sphinx-book-theme==0.2.*
sphinx-gallery==0.10.*
sphinx-panels==0.6.*
sphinx-copybutton==0.5.*
jupyter-sphinx==0.3.*
boule
pyproj
ensaio
netcdf4
matplotlib
cartopy>=0.18
pyvista
vtk>=9
pygmt
