# Requirements for checking code style
pathspec
black==21.12b0
isort==5.10.*
flake8==4.0.*
flake8-bugbear==21.11.*
flake8-builtins==1.5.*
flake8-functions==0.0.6
flake8-mutable==1.2.*
flake8-rst-docstrings==0.2.*
flake8-simplify==0.14.*
flake8-unused-arguments==0.0.9
pep8-naming==0.12.*
